deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
deps_debug/*
objs_debug/*
objs_dis_debug/*
asmouts_debug/*
preprocs_debug/*
mp11_test_*
mp11_test_*_debug
*.o
*.a
*.d
*.elf
*.gba
*.sw[po]
*/tags
*/types_*.taghl
*.txt.ignore
